@charset "utf-8";
/*CSS document voor Last Chance Datingsite*/
/* basis 1em = 16 px
   4px  = 0.25em
   6px  = 0.375em
   8px  = 0.5em
   10px = 0.625em
   12px = 0.75em
   14px = 0.875em
   18px = 1.125em
   20px = 1.25em
   22px = 1.375em
   24px = 1.5em
   32px = 2em
*/
/*NogTeDoen*/
.NogTeDoen {
    background-color: red;
    color: white;
}
/* NORMALIZE */
html, body, div, section, article, aside, nav {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgoldenrodyellow;/*
    background-color: seagreen;*/
 }
 img {
    border: none;
    width: 5em;
    height: 5em;
    margin: 0em 0em 0em 0em;
 }
.centraal {
    text-align: center;
}

button{
    display: inline-block;
    background-color:rgb(158, 75, 147);/* color == very light purple*/
    padding: 0.5em; /*6px 8px*/
    border: 1px solid #b1b1b1;
    margin: 10px;
    color: #000000;
    text-decoration: none;
    letter-spacing: 0.1em;
}

/*** TOPMENU ***/
.topfoto img{
    width: 100%;
    max-width: 60em;
    height: 80%;
    margin: 5em 0em 0em 0em;
} 
.topmenu {
    background-color: lightgoldenrodyellow;
    overflow: hidden;
    position: fixed;
    width: 100%;
    margin: 0em;
}
.topmenu ol {
    list-style-type: none;
    width: 100%;
    max-width: 60em;
    margin-left: 10%;
   
}

.topmenu ol li {
    float: left;
    color: #000000;
    text-decoration: none;
    letter-spacing: 0.1em;
}

.topmenu ol li a {
    padding: 0.5em; /*6px 8px*/
    margin: 10px;
    color: #000000;
    text-decoration: none;
    letter-spacing: 0.1em; 
}

.topmenu ol li a:hover{
    text-decoration: none;
    background: rgb(255, 114, 92);
    color: white;
}
    
.topmenu ol li a.actief {
        text-decoration: none;
        background: rgb(158, 75, 147);
        color: white;
}

/***Formulieren***/
.formulier {
    width: 90%;
    max-width: 60em;
    margin-left: 15%;
}
.formulier div{
    margin: 0.5em;
}
label{
    display: inline-block;
width: 9em;
padding: 0.25em;
}
input, select{
    display: inline-block;
    border: 1px solid  #b1b1b1;
    background-color: #dddddd;
    width: 75%;
    max-width: 25em;
}

/***Zoeken lijst weergeven***/
#gebruikersLijst {
    padding: 0;
    list-style-type: none;
    width: 100%;
    max-width: 54em;
}

#gebruikersLijst li {
    background-color: lime;
    display:inline-block;
    /*float: left;*/
    width: 16em;
    height: 8em;
    margin: 0.5em ;
    color: #000000;
    text-decoration: none;
    letter-spacing: 0.1em;
    text-align: center;
    overflow:hidden;
}

#gebruikersLijst li a {
    padding: 0.5em; /*6px 8px*/
    margin: 10px;
    color: #000000;
    text-decoration: none;
    letter-spacing: 0.1em; 
}

#gebruikersLijst  li a:hover{
    text-decoration: none;
    background: rgb(255, 114, 92);
    color: white;
}

/***RECLAME***/
.reclame {
    width: 100%;
    max-width: 60em;
    text-align: center;
    display: inline-block;
}
.reclame h1{
    max-width: 51em;
    margin: 1em;
}
.reclame img {
    width: 15em;
    height: 15em;
    margin: 1em;
}
/***Gebruikerweergave***/
#gebruikerWeergave{
    width: 50em;
}


/***Foutmelding***/
.feedback, .Fout {
    color: white;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.feedback {
    background-color: navy;
}

.Fout {
    background-color: red;
    display:none;
    margin-top:0.5em;
}

.feedback:empty, .Fout:empty {
    display: none;
}

/***Publiek en verborgen***/

.verborgen {
    display: none;
}
